{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/quienSomos.css' %}">
{% endblock link %}    

{% block contenido %}
    <section class="main">

        <section class="quienSomos">
            <div class="texto">
                <h2>Quienes Somos...</h2>
                <div class="descrip">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, vero! Ullam, sunt dolores? Odit consequuntur cupiditate, omnis corrupti facilis, nostrum veritatis, ipsam modi ipsum quisquam quod iusto? Ullam, rerum? Amet.</p>
                </div>
            </div>

        </section>

    </section>
{% endblock contenido %}
   
